.chapter_container {
  height: 0;
  margin-top: 200px;
  max-height: 999999999px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition-duration: 1.5s;
  transition-property: opacity, height;
  transition-timing-function: linear;
  visibility: hidden;
  .content_container {
    margin-bottom: 50px;
    .infobox {
      background-color: #EBEAE6;
      box-sizing: border-box;
      padding: 20px;
    }
    .recommendations_container {
      align-content: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: auto auto 20px auto;
      text-align: center;
      .recommendation_container {
        &:before {
          background-color: #fff;
          border-radius: 50px;
          color: #009EDB;
          content: counter(recommendation);
          counter-increment: recommendation;
          font-size: 45px;
          left: -25px;
          line-height: 50px;
          position: absolute;
          top: -25px;
          width: 50px;
        }
        align-content: center;
        background: #72BF44;
        border-radius: 10px;
        box-sizing: border-box;
        color: #fff;
        display: flex;
        flex-direction: column;
        flex: 50%;
        font-family: Roboto;
        justify-content: center;
        margin: 20px;
        max-width: 300px;
        opacity: 0;
        padding: 20px 20px 20px 20px;
        position: relative;
        transition-duration: 0.5s;
        transition-property: opacity;
        transition-timing-function: linear;
        p {
          margin: 0;
          font-size: 20px;
        }
      }
    }

  }
  figure {
    margin: 40px auto 40px auto;
    max-width: 800px;
    h5 {
      font-family: "Roboto Serif";
      font-size: 20px;
      font-weight: 600;
      margin: 0 auto 20px auto;
      max-width: 700px;
    }
    .content_image {
      &.half {
        box-sizing: border-box;
        float: left;
        padding: 0 3px;
        width: 50%;
      }
    }
    figcaption {
      color: #7C7067;
      display: none;
      font-size: 14px;
    }
  }
}