.page_navigation {
  align-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  @media all and (max-width: 580px) {
    margin-bottom: 0px;
    padding: 0 10px;
  }
  .button_container {
    @media all and (max-width: 1200px) {
      flex: 50%;
      display: flex;
      justify-content: center;
    }
    @media all and (max-width: 580px) {
      flex: 100%;
      display: flex;
      justify-content: center;
    }
    &.selected {
      button {
        border-bottom: 5px solid #ffc800;
        box-sizing: border-box;
        &:hover {
          transform: scale(1);
        }
      }
    }
    button {
      background-color: @ungreen;
      border-radius: 0;
      border: 0;
      color: #fff;
      cursor: pointer;
      display: block;
      font-family: "Roboto Condensed";
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
      padding: 7px 15px;
      text-align: center;
      transition: transform 0.2s ease-in-out;
      min-width: 280px;
      &.policy {
        background-color: @unblue;
      }
      &:hover {
        transform: scale(1.05);
      }
      @media all and (max-width: 580px) {
        min-width: 100%;
        margin-bottom: 10px;
      }
      .chapter_label {
        letter-spacing: -0.05em;
        font-size: 18px;
        margin-bottom: 2px;
        text-transform: uppercase;
      }
      .chapter_title {
        letter-spacing: 0.05em;
        font-size: 20px;
      }
    }
  }
}
