.social_media_buttons {
  font-size: 11px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  a {
    color: @unbluetext;
    text-decoration: none;
    &:hover {
      color: #aea29a;
      filter: grayscale(100%);
      text-decoration: underline;
    }
    img {
      display: inline;
      margin: -2px 3px 0 0;
      vertical-align: middle;
      width: 36px;
    }
  }
}