@import 'colors.less';
@import 'drupal_resets.less';

@import url('https://fonts.googleapis.com/css?family=Roboto+Serif:600.css');
@import url('https://fonts.googleapis.com/css?family=Kalam:300.css');

#app-root-2022-edar_report .app {
  counter-reset: section recommendation;
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto auto;
  max-width: 1350px;
  padding-bottom: 40px;
  @import 'background_container.less';
  .content_wrapper {
    @import 'social_media_buttons.less';
    margin: auto auto;
    position: relative;
    z-index: 2;
    .banner_container {
      font-size: 0;
      margin-bottom: 20px;
      position: relative;
      @media all and (max-width: 580px) {
        margin-bottom: 10px;
      }
      .banner_image {
        font-size: 0;
        margin: 0;
        @media all and (max-width: 650px) {
          display: none;
        }
      }
      .banner_image_square {
        font-size: 0;
        margin: 0;
        @media all and (min-width: 650px) {
          display: none;
        }
      }
    }
    .heading_container {
      .clearfix;
      background-color: rgba(255, 255, 255, 0.75);
      margin: auto auto 40px auto;
      max-width: 1350px;
      padding: 30px 40px 20px 40px;
      position: relative;
      vertical-align: middle;
      @media all and (max-width: 800px) {
        padding: 30px 20px 20px 20px;
      }
      @media all and (max-width: 700px) {
        padding: 0 0 1px 0;
        .content {
          padding: 0 20px 0 20px;
        }
      }
      .right {
        @media all and (max-width: 1200px) {
          max-width: 550px;
        }
        @media all and (max-width: 1100px) {
          max-width: 500px;
        }
        @media all and (max-width: 1000px) {
          max-width: 450px;
        }
        @media all and (max-width: 900px) {
          max-width: 400px;
        }
        @media all and (max-width: 800px) {
          max-width: 350px;
        }
        @media all and (max-width: 700px) {
          float: none;
          margin-left: 0;
          max-width: 100%;
        }
        float: right;
        margin-left: 20px;
        max-width: 650px;
      }
    }
    .download_section {
      display: block;
      margin: 30px 0;
      a {
        background-color: transparent;
        border-radius: 4px;
        border: 1px solid #009edb;
        box-sizing: border-box;
        color: #454545;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 1.27px;
        line-height: 1;
        margin-bottom: 10px;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          background-color: #EBEAE6;
        }
      }
    }
    img {
      font-size: 0;
      margin-bottom: 20px;
      padding: 0;
      width: 100%;
    }
    h1, h2, h3, p, ul, blockquote, .iframe_container {
      margin: auto auto 20px auto;
    }
    h1 {
      font-family: "Roboto Serif";
      font-size: 30px;
      padding: 0;
    }
    h2 {
      color: #009EDB;
      font-family: "Roboto Serif";
      font-size: 18px;
      line-height: 22px;
    }
    h3 {
      font-family: "Roboto Serif";
      font-size: 20px;
      font-weight: 600;
    }
    p {
      font-family: Roboto;
      font-size: 16px;
      line-height: 22px;
    }
    figure {
      box-sizing: border-box;
      margin: 30px auto 30px auto;
      max-width: 850px;
      padding: 0 20px;
      .content_image {
        &.half {
          @media all and (min-width: 701px) {
            box-sizing: border-box;
            float: left;
            padding: 0 3px;
            width: 50%;
          }
        }
      }
      figcaption {
        .clear_both;
        color: #7C7067;
        font-size: 14px;
        margin-bottom: 20px;
        div {
          margin-bottom: 3px;
        }
      }
      .social_media_buttons {
        opacity: 0;
        transition-duration: 0.5s;
        transition-property: opacity;
        transition-timing-function: linear;
      }
      &:hover {
        .social_media_buttons {
          opacity: 1;
        }
      }
    }
    @import 'page_navigation.less';
    .content_container {
      box-sizing: border-box;
      margin: auto auto 20px auto;
      max-width: 700px;
      padding: 0 20px;
      blockquote {
        font-family: "Roboto Serif";
        font-size: 20px;
        font-weight: 600;
        margin: 40px auto 40px auto;
        max-width: 600px;
        text-align: center;
        .text {
          &:before {
            content: "“"
          }
          &:after {
            content: "”"
          }
        }
        .author {
          margin-left: 5px;
          white-space: nowrap;
          &:before {
            content: "–"
          }
        }
        .highlight {
          color: #009EDB;
        }
      }
      .video_container {
        margin: auto auto 100px auto;
        padding-bottom: 56.25%;
        &.notransition {
          opacity: 1;
          padding-top: 0;
          transition-duration: 0s;
        }
        &.not_seen {
          opacity: 0;
          padding-top: 30px;
        }
        &.visible {
          opacity: 1;
          padding-top: 0;
        }
        iframe {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
        }
      }
    }
    @import 'chapter_navigation.less';
    @import 'chapter_container.less';
    .quotes_container,
    .graphic_container {
      display: flex;
      max-width: 1200px;
      vertical-align: middle;
      &.graphic_container {
        align-items: center;
        margin: 50px auto;
        justify-content: space-between;
        flex-direction: row;
        @media all and (max-width: 800px) {
          background-color: rgba(255, 255, 255, 0.75);
          flex-direction: column;
          &.graphic_left {
            flex-direction: column-reverse;
          }
        }
      }
      &.quotes_container {
        align-items: flex-start;
        justify-content: space-evenly;
        margin: auto auto 100px auto;
        @media all and (max-width: 1000px) {
          align-items: center;
          flex-direction: column;
        }
        @media all and (max-width: 1200px) {
          justify-content: space-evenly;
        }
      }
      .extra_background {
        background-color: rgba(255, 255, 255, 0.75);
        height: 75%;
        max-height: 400px;
        position: absolute;
        width: 100%;
        z-index: -1;
      }
      .title_container {
        width: 30%;
        padding: 30px 40px 20px 40px;
        @media all and (max-width: 800px) {
          box-sizing: border-box;
          max-width: 700px;
          padding: 20px 20px 40px 20px;
          width: 100%;
        }
      }
      .image_container {
        padding: 30px 40px 20px 40px;
        width: 60%;
        &.left {
          text-align: left;
          padding-right: 40px;
        }
        &.right {
          padding-left: 40px;
          text-align: right;
          figcaption {
            text-align: center;
          }
        }
        @media all and (max-width: 800px) {
          width: 100%;
          &.left,
          &.right {
            padding: 0;
            text-align: center;
          }
        }
        figure {
          padding: 0;
          img {
            padding: 20px 0;
            box-sizing: border-box;
            max-width: 600px;
            @media all and (max-width: 800px) {
              max-width: 700px;
              padding: 0 20px;
            }
          }
        }
      }
      .quote_container {
        height: 100%;
        max-width: 420px;
        padding: 30px;
        position: relative;
        width: 100%;
        &:before {
          background-image: url("//unctad.org/sites/default/files/2022-07/EDAR-2022-quote_symbol.png");
          background-size: 100%;
          content: '';
          display: block;
          height: 60px;
          left: -30px;
          position: absolute;
          top: 0px;
          width: 60px;
          z-index: -1;
        }
        @media all and (max-width: 1000px) {
          margin-bottom: 20px;
        }
        &.quote_container_1 h3:before {
          // background-image: url("../assets/img/photos/EDAR-2022-rebeca_grynspan.png");
          background-image: url("//unctad.org/sites/default/files/2022-07/EDAR-2022-rebeca_grynspan.png");
        }
        &.quote_container_2 h3:before {
          // background-image: url("../assets/img/photos/EDAR-2022-benedict_oramah.png");
          background-image: url("//unctad.org/sites/default/files/2022-07/EDAR-2022-benedict_oramah.png");
        }
        h3 {
          &:before {
            background-size: 100%;            
            content: '';
            height: 75px;
            left: 0;
            position: absolute;
            width: 75px;
          }
          color: #009EDB;
          margin-bottom: 5px;
          max-width: 450px;
          padding-left: 85px;
          position: relative;
          text-align: left;
          z-index: 2;
        }
        p {
          font-family: Kalam;
          font-size: 26px;
          line-height: 32px;
          max-width: 450px;
        }
        .title {
          font-weight: 400;
          margin: 0;
          max-width: 300px;
          padding-left: 85px;
          text-align: left;
        }
      }
    }
    // Transitions for elements
    .video_container,
    .graphic_container,
    .iframe_container,
    .content_image {
      position: relative;
      transition-duration: 1.5s;
      transition-property: opacity, padding;
      transition-timing-function: linear;
      &.notransition {
        transition-duration: 0s;
      }
      &.not_seen {
        opacity: 0;
        padding-top: 30px;
      }
      &.visible {
        opacity: 1;
        padding-top: 0;
      }
    }
  }
}

@import 'basics.less';